@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap"),

.App {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  width: 25%;
  height: 150px;
  padding-top: 0;
}

#header-img2 {
  margin-left: 45em;
}

#header-div {
  height: 175px;
}

.topnav {
  align-items: center;
  background-color: #7209b7;
  overflow: hidden;
}


.topnav a {
  font-family: 'Cinzel', serif;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1.5em;
  text-decoration: none;
  font-size: 1.25em;
}


.topnav a:hover {
  background-color: #ffd000;
  color: #7209b7;
  text-decoration: underline;
  transition: 0.25s;
}


.topnav a.active {
  text-decoration: underline;
}

#background-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

body {
  background-color: #7209b7;
}

#welcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


#welcome-button {
  font-size: 3em;
  font-family: 'Cinzel', serif;
  color: #ffd000;
  margin: 1em;
  padding: 1em;
  background-color: #7109b700;
  border-radius: 15px;
  border: 2px solid #ffd000;
  transition: all 0.25s;
}

#welcome-button:hover {
  box-shadow: 0 0.5em 1em -0.4em #ffd000;
  transform: translateY(-0.2em);
  background-color: #ffe169;
  color: white;
}

.card {
  font-family: 'Cinzel', serif;
  text-align: center;
  max-width: 500px;
}

.card-body {
  background-color: #7209b7;
  border-radius: 10px;
  color: #ffe169;
}

.card-title {
  font-size: 2em;
}

.card-text {
  font-size: 2em;
}

#card-btn {
  font-size: 1.25em;
  font-family: 'Cinzel', serif;
  color: #ffd000;
  margin-bottom: .5em;
  background-color: #7109b700;
  border-radius: 15px;
  border: 2px solid #ffd000;
  transition: all 0.25s;
  padding-left: 1.5em;
  padding-right: 1.5em;
} 

#card-btn:hover {
  box-shadow: 0 0.5em 1em -0.4em #ffd000;
  transform: translateY(-0.2em);
  background-color: #ffe169;
  color: white;
}

#please-work-div {
  padding-left: 8em;
}



