@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap"),

.App {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  width: 25%;
  height: 150px;
  padding-top: 0;
}

#header-img2 {
  margin-left: 45em;
}

#header-div {
  height: 175px;
}

.topnav {
  align-items: center;
  background-color: #7209b7;
  overflow: hidden;
  padding: 1.75em;
}


.topnav a {
  font-family: 'Cinzel', serif;
  display: inline;
  color: #f2f2f2;
  text-align: center;
  padding: 1.5em;
  text-decoration: none;
  font-size: 1.25em;
}


.topnav a:hover {
  background-color: #ffd000;
  color: #7209b7;
  text-decoration: underline;
  transition: 0.25s;
}


.topnav a.active {
  text-decoration: underline;
}

#background-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

body {
  background-color: #7209b7;
}

#welcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


#welcome-button {
  font-size: 3em;
  font-family: 'Cinzel', serif;
  color: #ffd000;
  margin: 1em;
  padding: 1em;
  background-color: #7109b700;
  border-radius: 15px;
  border: 2px solid #ffd000;
  transition: all 0.25s;
}

#welcome-button:hover {
  box-shadow: 0 0.5em 1em -0.4em #ffd000;
  transform: translateY(-0.2em);
  background-color: #ffe169;
  color: white;
}

.card {
  margin-top: 2em;
  font-family: 'Cinzel', serif;
  text-align: center;
  max-width: 500px;
}

.sold-card-body {
  background-color: rgba(128, 128, 128, 0.687);
  border-radius: 10px;
  color: gray;
}

#sold-header {
  color: red;
  font-size: 3em
}

.card-body {
  background-color: #7209b7;
  border-radius: 10px;
  color: #ffe169;
}

.card-title {
  font-size: 2em;
}

.card-text {
  font-size: 2em;
}

.btn-btn-primary {
  font-size: 1.25em;
  font-family: 'Cinzel', serif;
  color: #ffd000;
  margin-bottom: .5em;
  background-color: #7109b700;
  border-radius: 15px;
  border: 2px solid #ffd000;
  transition: all 0.25s;
  padding-left: 1.5em;
  padding-right: 1.5em;
}


.btn-btn-primary:hover {
  box-shadow: 0 0.5em 1em -0.4em #ffd000;
  transform: translateY(-0.2em);
  background-color: #ffe169;
  color: white;
}

#please-work-div {
  padding-left: 8em;
}

#sell-header {
  color: #f2f2f2;
  font-family: 'Cinzel', serif;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1.5em;
  font-size: 2.5em;
}

#card-listed-header {
  color: #ffd000;
  font-family: 'Cinzel', serif;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1.5em;
  font-size: 2.5em;
}

.sell-form {
  /* text-align: center; */
  background-color: #f2f2f2;
  max-width: 40%;
  border-radius: 15px;
  margin-left: 27em;
  margin-bottom: 3em;
}

.form-input {
  display: block;
  margin-left: 12em;
  padding: .5em;
  border-radius: 10px;
}

.form-text {
  margin-left: 6em;
  display: block;
  padding-top: 2em;
  padding-left: 2em;
  font-size: 1.5em;
  color: #7209b7;
  font-family: 'Cinzel', serif;
}

.form-btn {
  display: block;
  margin-top: 3em;
  padding: 1em;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  color: #ffd000;
  background-color: #f2f2f2;
  border-radius: 15px;
  border: 1px solid #ffd000;
  transition: all 0.25s;
}

#sell-card-btn {
  margin-left: 8em;
}

.form-btn:hover {
  background-color: #ffe169;
  color: white;
}

.background-header-video {
  max-height: 150px;
  width: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.buy-form {
  background-color: #f2f2f2;
  border-radius: 15px;
  max-height: 500px;
  margin-left: 7em;
  margin-top: 4.5em;
  font-family: 'Cinzel', serif;
  text-align: center;
  max-width: 500px;
}

.buy-form-text {
  display: block;
  padding-top: 1em;
  font-size: 1.25em;
  color: #7209b7;
  font-family: 'Cinzel', serif;
}

.buy-form-input {
  margin-left: 10em;
  display: block;
  padding: .5em;
  border-radius: 10px;
}

#buy-btn {
  margin-top: 0px;
  display: block;
  margin-top: 3em;
  padding: .5em;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  color: #ffd000;
  background-color: #f2f2f2;
  border-radius: 15px;
  border: 1px solid #ffd000;
  transition: all 0.25s;
  margin-left: 6.25em;
}

#buy-btn:hover {
  background-color: #ffe169;
  color: white;
}

.checkout-header {
  font-family: 'Cinzel', serif;
  font-size: 2em;
  color: #ffd000;
}

#checkout-img {
  height: 380px;
}

.disabled-btn {
  color: grey;
  font-size: 1.25em;
  font-family: 'Cinzel', serif;
  margin-bottom: .5em;
  background-color: #7109b700;
  border-radius: 15px;
  border: 2px solid grey;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
